
<%= image_tag @work.featured_image.image.url.to_s %>
<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Min year:</strong>
  <%= @work.min_year %>
</p>

<p>
  <strong>Max year:</strong>
  <%= @work.max_year %>
</p>

<p>
  <strong>Circa:</strong>
  <%= @work.circa %>
</p>

<p>
  <strong>Place:</strong>
  <%= @work.place %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @work.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @work.longitude %>
</p>

<% @work.media_objects.each do |mo| %>
  <%= image_tag mo.image.url.to_s %>
<% end %>
  

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
