<% if user_signed_in? %>
  <div class="new-work">
    <div class="wrap">
      <p>Want to change something? <%= link_to 'Click here to edit this work', edit_work_path(@work) %>.</p>
    </div>
  </div>
<% end %>

<div class="container site-inner show">  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="breadcrumb-container">
    <p><%= link_to 'The Western Canon', works_path %></p><i class="fa fa-angle-right"></i><p><%= @work.title %></p>
  </div>
  <div class="hero">
    <div class="image">
      <% if @work.featured_image %>
        <%= image_tag @work.featured_image.image.url.to_s %>
      <% end %>
    </div>
    <h2><%= @work.title %></h2>
    <h3><%= happy_date(@work.min_year,@work.max_year,@work.circa) %></h3>
  </div>

  <div class="content-row">
    <div class="why">
      <h4>Why is it canonical?</h4>
      <p><%= @work.why %></p>
    </div>
    <div class="tags">
      <div class="tag-container">
        <% if @work.creator_list.count > 0 %>
          <p>Creators</p>
          <% @work.creator_list.each do |t| %>
            <%= link_to t, works_path(params.merge(:tags =>  t)) %>
          <% end %>
        <% end %>
      </div>
      <div class="tag-container">
        
        <% if @work.location_list.count > 0 %>
          <p>Locations</p>
          <% @work.location_list.each do |t| %>
            <%= link_to t, works_path(params.merge(:tags =>  t)) %>
          <% end %>
        <% end %>
      </div>
      <div class="tag-container">
        <% if @work.language_list.count > 0 %>
          <p>Languages</p>
          <% @work.language_list.each do |t| %>
            <%= link_to t, works_path(params.merge(:tags =>  t)) %>
          <% end %>
        <% end %>
      </div>
      <div class="tag-container">
        <% if @work.period_list.count > 0 %>
          <p>Periods</p>
          <% @work.period_list.each do |t| %>
            <%= link_to t, works_path(params.merge(:tags =>  t)) %>
          <% end %>
        <% end %>
      </div>
      <div class="tag-container">
        <% if @work.medium_list.count > 0 %>
          <p>Media</p>
          <% @work.medium_list.each do |t| %>
            <%= link_to t, works_path(params.merge(:tags =>  t)) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="media-row">
    <h3>Images and Videos</h3>
    <% @work.media_objects.each do |mo| %>
      <div class="media-container">
        <% if mo.image? %>
          <a class="fancybox-image" href=<%= mo.image.url.to_s %>><%= image_tag mo.image.url.to_s %></a>
        <% elsif mo.video? %>
          <a class="fancybox-video" href=<%= "http://www.youtube.com/watch?v=#{mo.video}?fs=1&amp;autoplay=1" %>><%= image_tag "http://img.youtube.com/vi/#{mo.video}/0.jpg" %></a>
        <% end %>   
        <p><i><%= mo.caption %></i></p>
      </div>
    <% end %>
  </div>

  <div class="resources-row">
    <h3>Resources</h3>
    <% @work.resource_objects.each do |ro| %>
      <div class="resource">
        <div class="link-title">
          <a href=<%= ro.link %> target="_blank"><%= ro.title %></a>
        </div>
        <div class="description">
          <p><%= ro.description %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="push"></div>
</div>
